.nav_text_hover:hover {
 background: linear-gradient(74.83deg, #FF8C08 14.84%, #FB122E 33.19%, #F40034 62.95%, #8400A2 92.23%);;
    -webkit-background-clip: text;
    background-clip: text;
    color: transparent;
    transition: all 300ms linear;
}