.nav_text_hover:hover {
  background: linear-gradient(
    74.83deg,
    #ff8c08 14.84%,
    #fb122e 33.19%,
    #f40034 62.95%,
    #8400a2 92.23%
  );
  -webkit-background-clip: text;
  background-clip: text;
  color: transparent;
  transition: all 300ms linear;
}
.hand {
  animation-name: hand;
  animation-duration: 3s;
  animation-timing-function: linear;
  animation-iteration-count: infinite;
  animation-direction: alternate;
}

@keyframes hand {
  0% {
    transform: translateY(-20px);
  }

  100% {
    transform: translateY(20px);
  }
}

.hand-ball {
  animation-name: hand-ball;
  animation-duration: 3s;
  animation-timing-function: linear;
  animation-iteration-count: infinite;
  animation-direction: alternate;
}

@keyframes hand-ball {
  0% {
    transform: translateY(-90px);
  }

  100% {
    transform: translateY(20px);
  }
}

.Genie {
  background: linear-gradient(
    122.55deg,
    rgba(1, 14, 104, 0) 0.63%,
    rgba(0, 19, 145, 0.4) 95%
  );
  border: 0.8px solid;

  border-image-source: linear-gradient(
    275.48deg,
    #006be0 41.98%,
    rgba(0, 176, 235, 0) 94.08%
  );
}

@media (max-width: 575.98px) {
  @keyframes hand-ball {
    0% {
      transform: translateY(-80px);
    }

    100% {
      transform: translateY(-40px);
    }
  }
  @keyframes hand {
    0% {
      transform: translateY(-50px);
    }

    100% {
      transform: translateY(0px);
    }
  }
}
@media (max-width: 465.98px) {
  .hand_ball {
    bottom: 77%;
  }
}
@media (min-widht: 465px), (max-width: 639.98px) {
  .hand_ball {
    bottom: 79%;
  }
}
